@import '@app/app.scss';

.menu{
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 22px;
  &__button, &__button .ant-typography{
    font-weight: bold;
    font-size: 22px;
    padding-left: 0px;
    color: $blue-color;
  }
  &__login{
    display: flex;
    justify-content: flex-end;
  }
  &__greetings{
    font-size: 12px;
    margin-left: 16px;
  }
}